---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

// espacio dedicado a JS  y las importaciones de componentes
---

<Layout title="Blog con Astro.">
	<div>
		Pagina de Blog
	</div>
</Layout>


