---


---


<header class="py-8 px-4 mx-auto max-w-xl lg:py-16">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      Sapces Launcher 🚀
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      A simple and fast way to launch your spaces.
    </p>
  </div>

  <nav class="flex flex-col items-center justify-between w-full text-center">
    <a class="text-white" href="/">Ultimos lanzamientos de Space X</a>
    <a class="text-white" href="/about">Sobre el proyecto Space X</a>
    <a class="text-white" href="/oldest">Todos los lanzamientos de Space X Anteriores</a>
  </nav>
</header>